.header__search {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 34px 0 26px;
  background: url("../image/icons.svg") -193px -363px;
  cursor: pointer;
}
.header__search:hover {
  opacity: 0.6;
}
.header__right {
  text-align: right;
  padding-right: 31px;
}
.header__contacts {
  color: #b1b1b1;
  margin-top: 48px;
  padding-right: 17px;
}
.header__menu {
  margin-top: 10px;
}
.header__phone {
  font-size: 12px;
}
.header__logo {
  margin: 16px 0 15px 22px;
}
.logo {
  background: url("../image/icons.svg") -89px -60px;
  width: 220px;
  height: 110px;
  display: inline-block;
}
.line {
  border-top: 1px solid #d5d5d5;
  min-width: 1090px;
}
