body {
  color: #535353;
}
.body__maps {
  padding: 0 1.7375rem 50px;
}
.body__gallery {
  padding: 30px 1.7375rem 40px;
}
.body__carousel {
  position: relative;
  padding: 14px 1.7375rem 0;
}
.body__breadcrumb {
  margin: 19px 0 14px;
  padding: 0 1.7375rem;
}
.body__creators {
  padding-bottom: 60px;
}
.breadcrumb {
  margin-bottom: 0;
  background: none;
  padding: 0;
  font-size: 12px;
}
.breadcrumb > li + li:before {
  content: ' >';
  color: #b2b2b2;
}
.breadcrumb__link {
  color: #00b898;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
  font-weight: 700;
}
.breadcrumb__link:hover {
  color: rgba(0,184,152,0.6);
}
.breadcrumb > .active {
  color: #b2b2b2;
}
.creators {
  margin-top: 22px;
}
.creators__item {
  margin-top: 30px;
  text-align: center;
}
.creators__title {
  text-align: center;
  margin-bottom: 52px;
}
.creators__text {
  font-size: 13px;
}
.creators__post {
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  color: #9d9d9d;
}
.creators__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}
.creators__img {
  height: 226px;
}
.gmaps {
  margin: 0;
}
.gmaps__map {
  height: 480px;
  width: 100%;
  margin: 0 auto;
}
.gmaps__card {
  background: #fff;
  border-radius: 5px;
  padding: 12px 41px;
  border: 1px solid #e5e5e5;
}
.gmaps__contacts._hidden {
  display: none;
}
.gmaps__address {
  padding: 14px 0;
}
.gmaps__address._lines {
  border-width: 1px 0;
  border-style: dotted;
  border-color: #e5e5e5;
}
.gmaps__table td:first-child {
  padding-right: 12px;
}
.gmaps__header {
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 18px;
}
.gmaps__text {
  line-height: 20px;
}
.gmaps__select {
  margin-top: 10px;
}
.select-map {
  position: relative;
  display: inline-block;
}
.select-map__button {
  background: #fff;
  color: #37b39c;
  border: 2px solid #37b39c;
  border-width: 0 0 2px 0;
  outline: none;
  padding: 0 13px 0 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
}
.select-map__arrow {
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  width: 7px;
  height: 13px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 6px;
  right: 0;
  line-height: 7px;
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
}
.select-map__dropdown {
  position: absolute;
  right: 0;
  top: 26px;
  left: 0;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition-property: opacity, -webkit-transform, visibility;
          transition-property: opacity, transform, visibility;
  -webkit-transition-duration: 0.2s, 0.2s, 0s;
          transition-duration: 0.2s, 0.2s, 0s;
  -webkit-transition-delay: 0s, 0s, 0.2s;
          transition-delay: 0s, 0s, 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.select-map__item {
  line-height: 32px;
  padding: 0 15px;
  cursor: pointer;
  background: #fff;
  -webkit-transition: background-color 0.15s ease-out;
          transition: background-color 0.15s ease-out;
}
.select-map__item:hover {
  background: #e5e5e5;
}
.select-map._opened .select-map__arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.select-map._opened .select-map__dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: opacity, -webkit-transform, visibility;
          transition-property: opacity, transform, visibility;
  -webkit-transition-duration: 0.2s, 0.2s, 0s;
          transition-duration: 0.2s, 0.2s, 0s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.sub-header {
  color: #37b39c;
  font-weight: 400;
}
.carousel-item {
  position: relative;
}
.carousel .control {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.carousel .control.left {
  left: -19px;
}
.carousel .control.right {
  right: -19px;
}
.carousel .arrow-left,
.carousel .arrow-right {
  width: 44px;
  height: 44px;
  display: inline-block;
}
.carousel .arrow-left {
  background: url("../image/icons.svg") 249px 617px;
}
.carousel .arrow-right {
  background: url("../image/icons.svg") 193px 617px;
}
.info-card {
  background: #fff;
  position: absolute;
  top: 70px;
  left: 50px;
  width: 488px;
  padding: 28px 26px;
  font-size: 14px;
}
.info-card__text {
  max-height: 237px;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.6em;
}
.info-card__header {
  font-size: 3em;
  color: #37b39c;
  margin-top: -58px;
}
.info-card__header:after {
  content: '';
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border: 1px dashed #d5d5d5;
}
@media (min-width: 0) and (max-width: 480px) {
  .info-card {
    font-size: 10px;
    padding: 10px 10px 0;
    border-radius: 5px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    opacity: 0.9;
  }
  .info-card__header {
    font-size: 2em;
    margin-top: 0;
  }
  .info-card__header::after {
    margin-bottom: 6px;
  }
  .info-card__text {
    max-height: 100%;
    overflow: auto;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  .info-card {
    font-size: 10px;
    padding: 10px 10px 0;
    top: 18px;
    left: 10px;
    width: auto;
    right: 10px;
  }
  .info-card__header {
    margin-top: -37px;
  }
  .info-card__header::after {
    margin-bottom: 6px;
  }
  .info-card__text {
    min-height: 112px;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .info-card {
    font-size: 11px;
    top: 18px;
    left: 10px;
  }
}
@media (min-width: 720px) {
  .gmaps__card {
    position: absolute;
    top: 22px;
    left: 42px;
    border: 0;
  }
}
@media (min-width: 1024px) {
  .gmaps__card {
    top: 62px;
    left: 122px;
  }
}
@media (min-width: 800px) {
  .info-card {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .info-card {
    font-size: 14px;
  }
}
.info-card_small {
  background: #fff;
  position: absolute;
  left: 40px;
  bottom: 33px;
  width: 389px;
  padding: 12px 15px 10px;
  font-size: 14px;
  border-radius: 5px;
}
.info-card_small__text {
  max-height: 237px;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.6em;
}
.info-card_small__header {
  font-size: 1.8em;
  line-height: 0.8em;
  color: #37b39c;
}
.info-card_small__header:after {
  content: '';
  margin-bottom: 9px;
  margin-top: 12px;
  display: block;
  width: 100%;
  border: 1px dashed #d5d5d5;
}
.info-card_small .button_size_m {
  float: right;
}
@media (min-width: 0) and (max-width: 720px) {
  .info-card_small {
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding: 12px 15px 10px 27px;
    font-size: 14px;
    background: rgba(255,255,255,0.9);
  }
  .info-card_small .button_size_m {
    float: none;
    margin-top: 5px;
  }
  .info-card_small__header {
    font-size: 1.4em;
    line-height: 0.7em;
  }
  .info-card_small__header:after {
    content: '';
    margin-bottom: 5px;
    margin-top: 8px;
  }
}
.button_size_m {
  border: 1px solid;
  font-size: 13px;
  vertical-align: middle;
  border-radius: 5px;
  line-height: 16px;
  vertical-align: middle;
  font-style: italic;
  opacity: 1;
  outline: none;
  -webkit-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in;
}
.button_size_m:hover {
  opacity: 0.6;
}
.gallery {
  position: relative;
  overflow: hidden;
  height: 168px;
}
.gallery__wrap {
  position: absolute;
  z-index: 1;
  padding: 0;
  white-space: nowrap;
}
.gallery__item {
  height: 140px;
  background: #ccc;
  display: inline-block;
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
  opacity: 1;
}
.gallery__item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.iScrollHorizontalScrollbar {
  height: 12px !important;
  z-index: 0 !important;
  background: #ededed;
}
.iScrollHorizontalScrollbar:after,
.iScrollHorizontalScrollbar:before {
  content: '';
}
.iScrollIndicator {
  top: 2px;
  height: 8px !important;
  background: #9d9d9c !important;
  border-radius: 0 !important;
}
