<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name=”description” content=”Центр To Be Parents предлагает занятия фитнесом для беременных на любом сроке,
          которые проводят опытные тренеры в центре Москвы.”>
    <meta name="Keywords" content="фитнес для беременных москва, гимнастика для беременных">
    <title>Фитнес для беременных - Москва</title>

    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="lightslider.css"/>

    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>
<header class="header b-container">
    <div class="row">
        <div class="header__left col-xs-3">
            <figure class="header__logo"><a class="link logo" href="/"></a></figure>
        </div>
        <div class="header__right col-xs-offset-3">
            <div class="header__contacts"><a href="#" class="link _cabinet">Личный кабинет</a>
                <figure class="header__search"></figure>
                <span class="header__phone">+7(495)321-54-76</span></div>
            <nav class="header__menu">
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link _active" href="#">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Специалисты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Прайс</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Расписание</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Лицензия</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Магазин</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="line"></div>
<main class="body b-container">
    <section class="body__breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0;">
            <li class="active"><a class="breadcrumb__link" href="#">Услуги</a></li>
            <li class="active">Фитнес/йога для беременных</li>
        </ol>
    </section>
    <section class="body__carousel">
        <div id="carousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-target="0">
                    <img src="image/carousel/1.jpg" alt="First slide [900x500]"
                         data-holder-rendered="true">

                    <div class="info-card">
                        <header class="info-card__header">Фитнес/йога<br> для беременных</header>
                        <div class="info-card__line"></div>
                        <div class="info-card__text">Задача организации, в особенности же рамки и место обучения кадров
                            требуют определения и уточнения системы обучения кадров, соответствует насущным
                            потребностям. Разнообразный и богатый опыт постоянное информационно-пропагандистское
                            обеспечение нашей деятельности позволяет оценить значение соответствующий условий
                            активизации.
                        </div>
                        <div class="info-card__button">
                            <button type="button" data-target="#appointment" data-toggle="modal"
                                    class="btn btn-primary btn-sm button_size_m">Запись на прием
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-target="1">
                    <img src="image/carousel/1.jpg" alt="First slide [900x500]"
                         data-holder-rendered="true">

                    <div class="info-card_small">
                        <header class="info-card_small__header">
                            <button type="button" data-target="#appointment" data-toggle="modal"
                                    class="btn btn-primary btn-sm button_size_m">Запись на прием
                            </button>
                            <span class="info-card_small__header-text">Уточнения системы</span>
                        </header>
                        <div class="info-card_small__line"></div>
                        <div class="info-card_small__text">Задача организации, в особенности же рамки и место обучения
                            кадров
                            требуют определения и уточнения системы обучения кадров
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-target="2">
                    <img src="image/carousel/1.jpg" alt="First slide [900x500]"
                         data-holder-rendered="true">

                    <div class="info-card">
                        <header class="info-card__header">Фитнес/йога<br> для беременных</header>
                        <div class="info-card__line"></div>
                        <div class="info-card__text">Задача организации, в особенности же рамки и место обучения кадров
                            требуют определения и уточнения системы обучения кадров, соответствует насущным
                            потребностям. Разнообразный и богатый опыт постоянное информационно-пропагандистское
                            обеспечение нашей деятельности позволяет оценить значение соответствующий условий
                            активизации.
                        </div>
                        <div class="info-card__button">
                            <button type="button" data-target="#appointment" data-toggle="modal"
                                    class="btn btn-primary btn-sm button_size_m">Запись на прием
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left control" href="#carousel" role="button" data-slide="prev"><span class="arrow-left"
                                                                                           aria-hidden="true"></span></a>
            <a class="right control" href="#carousel" role="button" data-slide="next"><span class="arrow-right"
                                                                                            aria-hidden="true"></span></a>
        </div>
    </section>
    <section class="body__gallery">
        <div class="gallery" id="gallery">
            <div class="gallery__wrap">
                <img data-id="0" class="gallery__item" src="image/carousel/slider-01.jpg">
                <img data-id="1" class="gallery__item" src="image/carousel/slider-01.jpg">
                <img data-id="2" class="gallery__item" src="image/carousel/slider-01.jpg">
                <img class="gallery__item" src="image/carousel/slider-01.jpg">
                <img class="gallery__item" src="image/carousel/slider-01.jpg">
                <img class="gallery__item" src="image/carousel/slider-01.jpg">
                <img class="gallery__item" src="image/carousel/slider-01.jpg">
                <img class="gallery__item" src="image/carousel/slider-01.jpg">
            </div>
        </div>
    </section>
    <section class="body__carousel">
        <div class="text-slider">
            <div class="text-slide">
                <a href="#" class="text-slide__header">Задача организации</a>

                <div class="text-slide__content">Интроекция фундаментально просветляет сублимированный филогенез.
                    Бихевиоризм, в представлении Морено, отражает объект.
                </div>
            </div>
            <div class="text-slide">
                <a href="#" class="text-slide__header">Уточнения системы</a>

                <div class="text-slide__content">Интроекция фундаментально просветляет сублимированный филогенез.
                    Бихевиоризм, в представлении Морено, отражает объект.
                </div>
            </div>
            <div class="text-slide">
                <a href="#" class="text-slide__header">Повседневная практика</a>

                <div class="text-slide__content">Интроекция фундаментально просветляет сублимированный филогенез.
                    Бихевиоризм, в представлении Морено, отражает объект.
                </div>
            </div>
            <div class="text-slide">
                <a href="#" class="text-slide__header">Уточнения системы</a>

                <div class="text-slide__content">Интроекция фундаментально просветляет сублимированный филогенез.
                    Бихевиоризм, в представлении Морено, отражает объект.
                </div>
            </div>
        </div>
    </section>
    <section class="body__tabs">
        <div class="tabs">
            <div class="tabs__head">
                <div class="tabs__item" data-num="1">
                    Специалисты
                    <sup>5</sup>
                </div>
                <div data-url="#" class="tabs__item">
                    Статьи
                    <sup>22</sup>
                </div>
                <div class="tabs__item" data-num="2">
                    Расписание занятий
                </div>
                <div class="tabs__item _checked" data-num="3">
                    Программа родов
                </div>
                <div class="tabs__item" data-num="4">
                    Список роддомов
                </div>
            </div>
            <!--Специалисты-->
            <div class="tabs__tab">
                <div class="specialist-slider">
                    <div class="specialist-slider__item">
                        <img class="specialist__img" src="image/doctor1.jpg">

                        <div class="specialist__info">
                            Замятина<br>Анна Владимировна
                        </div>
                    </div>
                    <div class="specialist-slider__item">
                        <img class="specialist__img" src="image/doctor1.jpg">

                        <div class="specialist__info">
                            Замятина<br>Анна Владимировна
                        </div>
                    </div>
                    <div class="specialist-slider__item">
                        <img class="specialist__img" src="image/doctor1.jpg">

                        <div class="specialist__info">
                            Замятина<br>Анна Владимировна
                        </div>
                    </div>
                    <div class="specialist-slider__item">
                        <img class="specialist__img" src="image/doctor1.jpg">

                        <div class="specialist__info">
                            Замятина<br>Анна Владимировна
                        </div>
                    </div>
                    <div class="specialist-slider__item">
                        <img class="specialist__img" src="image/doctor1.jpg">

                        <div class="specialist__info">
                            Замятина<br>Анна Владимировна
                        </div>
                    </div>
                </div>
            </div>
            <!--Расписание занятий-->
            <div class="tabs__tab">
                <div class="programm">
                    <a href="#" role="button" class="btn btn-secondary btn-sm">Скачать программу родов<span
                            class="programm__icon"></span></a>
                </div>
            </div>
            <!--Программа родов-->
            <div class="tabs__tab _checked">
                <div class="calendar">
                    <div class="calendar__left">
                        <div class="calendar__header">
                            <span class="calendar__date">Дата</span>
                            <span class="calendar__switch _time">Время</span>
                            <span class="calendar__switch _do">Занятия</span>
                        </div>
                        <div class="calendar__list">
                            <div class="calendar__row">
                                <div class="calendar__date-num">
                                    <span class="calendar__day">1</span>
                                    <span class="calendar__month">августа</span>
                                </div>
                                <div class="calendar__schedual">
                                    <table>
                                        <tr>
                                            <td class="time">12:30-13:00</td>
                                            <td class="exercise">Фитнес</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">14:00-15:00</td>
                                            <td class="exercise">Йога</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">15:30-19:40</td>
                                            <td class="exercise">Питание</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="calendar__line"></div>
                            <div class="calendar__row">
                                <div class="calendar__date-num">
                                    <span class="calendar__day">4</span>
                                    <span class="calendar__month">сентября</span>
                                </div>
                                <div class="calendar__schedual">
                                    <table>
                                        <tr>
                                            <td class="time">12:30-13:00</td>
                                            <td class="exercise">Фитнес</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">14:00-15:00</td>
                                            <td class="exercise">Йога</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">15:30-19:40</td>
                                            <td class="exercise">Питание</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="calendar__line"></div>
                            <div class="calendar__row">
                                <div class="calendar__date-num">
                                    <span class="calendar__day">19</span>
                                    <span class="calendar__month">августа</span>
                                </div>
                                <div class="calendar__schedual">
                                    <table>
                                        <tr>
                                            <td class="time">12:30-13:00</td>
                                            <td class="exercise">Фитнес</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">14:00-15:00</td>
                                            <td class="exercise">Йога</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="time">15:30-19:40</td>
                                            <td class="exercise">Питание</td>
                                            <td class="button">
                                                <button class="btn btn-secondary btn-sm" data-target="#appointment"
                                                        data-toggle="modal">Записаться
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><div class="calendar__right"><div
                            class="calendar__body">
                            <script type="text/template" id="template-calendar">
                                <div class="clndr-controls">
                                    <div class="clndr-button clndr-previous-button"></div>
                                    <div class="month" title="<%= month %> <%= year %>"><%= month %></div>
                                    <div class="clndr-button clndr-next-button"></div>
                                </div>
                                <div class="clndr-grid">
                                    <div class="days-of-the-week">
                                        <% _.each(daysOfTheWeek, function(day) { %>
                                        <div class="header-day"><%= day %></div>
                                        <% }); %>
                                        <div class="days">
                                            <% _.each(days, function(day) { %>
                                            <div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--Список роддомов-->
            <div class="tabs__tab">
                <div class="address-slider">
                    <div class="address-slider__item">
                        <img class="address__img" src="https://placehold.it/234x195">

                        <div class="address__info">
                            <div class="address__metro">Севастопольская</div>
                            <div class="address__full">123123 г. Москва, ул.Проспектная, д. 15</div>
                            <table class="address__table">
                                <tr>
                                    <td>Пн-пт:</td>
                                    <td>11:00 &ndash; 20:00</td>
                                </tr>
                                <tr>
                                    <td>Вс:</td>
                                    <td>11:00 &ndash; 18:00</td>
                                </tr>
                            </table>
                            <div class="address__phone">+7 (495) 543-80-70</div>
                        </div>
                    </div>
                    <div class="address-slider__item">
                        <img class="address__img" src="https://placehold.it/234x195">

                        <div class="address__info">
                            <div class="address__metro">Севастопольская</div>
                            <div class="address__full">123123 г. Москва, ул.Проспектная, д. 15</div>
                            <table class="address__table">
                                <tr>
                                    <td>Пн-пт:</td>
                                    <td>11:00 &ndash; 20:00</td>
                                </tr>
                                <tr>
                                    <td>Вс:</td>
                                    <td>11:00 &ndash; 18:00</td>
                                </tr>
                            </table>
                            <div class="address__phone">+7 (495) 543-80-70</div>
                        </div>
                    </div>
                    <div class="address-slider__item">
                        <img class="address__img" src="https://placehold.it/234x195">

                        <div class="address__info">
                            <div class="address__metro">Севастопольская</div>
                            <div class="address__full">123123 г. Москва, ул.Проспектная, д. 15</div>
                            <table class="address__table">
                                <tr>
                                    <td>Пн-пт:</td>
                                    <td>11:00 &ndash; 20:00</td>
                                </tr>
                                <tr>
                                    <td>Вс:</td>
                                    <td>11:00 &ndash; 18:00</td>
                                </tr>
                            </table>
                            <div class="address__phone">+7 (495) 543-80-70</div>
                        </div>
                    </div>
                    <div class="address-slider__item">
                        <img class="address__img" src="https://placehold.it/234x195">

                        <div class="address__info">
                            <div class="address__metro">Севастопольская</div>
                            <div class="address__full">123123 г. Москва, ул.Проспектная, д. 15</div>
                            <table class="address__table">
                                <tr>
                                    <td>Пн-пт:</td>
                                    <td>11:00 &ndash; 20:00</td>
                                </tr>
                                <tr>
                                    <td>Вс:</td>
                                    <td>11:00 &ndash; 18:00</td>
                                </tr>
                            </table>
                            <div class="address__phone">+7 (495) 543-80-70</div>
                        </div>
                    </div>
                    <div class="address-slider__item">
                        <img class="address__img" src="https://placehold.it/234x195">

                        <div class="address__info">
                            <div class="address__metro">Севастопольская</div>
                            <div class="address__full">123123 г. Москва, ул.Проспектная, д. 15</div>
                            <table class="address__table">
                                <tr>
                                    <td>Пн-пт:</td>
                                    <td>11:00 &ndash; 20:00</td>
                                </tr>
                                <tr>
                                    <td>Вс:</td>
                                    <td>11:00 &ndash; 18:00</td>
                                </tr>
                            </table>
                            <div class="address__phone">+7 (495) 543-80-70</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="body__share">
        <div class="share-wrapper">
            <div class="share-wrapper__container">
                <div class="share _init"></div>
                <span data-placement="right" data-toggle="popover" id="share-more"
                      title="Показать больше соцсетей"
                      class="share__link _more"></span>
            </div>
            <div class="share-wrapper__header">Поделиться</div>
        </div>
    </section>
    <section class="body__promo">
        <div class="promo">
            <img src="https://placehold.it/934x170" width="934">
            <a class="promo__header">Две услуги по цене одной</a>

            <div class="promo__button">
                <button class="btn btn-primary btn-sm" data-target="#appointment" data-toggle="modal">Запись на прием
                </button>
            </div>
        </div>
    </section>
</main>
<div class="line"></div>
<footer class="footer b-container">
    <div class="row">
        <div class="footer__left col-xs-3">
            <figure class="footer__logo"><a class="link logo" href="/"></a></figure>
            <div class="footer__copyright">To Be Parents. Все права защещены. 2015&copy;</div>
        </div>
        <div class="footer__right col-xs-offset-8">
            <div class="row">
                <div class="col-xs-3">
                    <a class="link map__r1" href="#">Специалисты</a>

                    <div class="map__group">
                        <a class="link map__r2" href="#">Ссылка1</a>
                        <a class="link map__r2" href="#">Специалисты</a>
                        <a class="link map__r2" href="#">Ссылка3</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <a class="link map__r1" href="#">Здесь</a>

                    <div class="map__group">
                        <a class="link map__r2" href="#">Ссылка1</a>
                        <a class="link map__r2" href="#">Расписание</a>
                        <a class="link map__r2" href="#">Ссылка3</a>
                    </div>
                    </a></div>
                <div class="col-xs-3"><a class="link map__r1" href="#"><a class="link map__r1" href="#">Здесь</a>

                    <div class="map__group">
                        <a class="link map__r2" href="#">Ссылка1</a>
                        <a class="link map__r2" href="#">О нас</a>
                        <a class="link map__r2" href="#">Ссылка3</a>
                    </div>
                </a></div>
                <div class="col-xs-3"><a class="link map__r1" href="#"><a class="link map__r1" href="#">Здесь</a>

                    <div class="map__group">
                        <a class="link map__r2" href="#">Ссылка1</a>
                        <a class="link map__r2" href="#">Ссылка2</a>
                        <a class="link map__r2" href="#">Ссылка3</a>
                    </div>
                </a></div>
            </div>
            <div class="footer__social">
                <span class="social__text">Мы в соцсетях:</span>
                <span class="social__item social__facebook"></span>
                <span class="social__item social__twitter"></span>
                <span class="social__item social__youtube"></span>
                <span class="social__item social__rss"></span>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Запись на прием</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label for="name" class="control-label">Тема лекции/специалист:</label>
                        <input type="text" class="form-control" required placeholder="Введите имя специалиста"
                               id="name">
                    </div>
                    <div class="form-group">
                        <label for="client-name" class="control-label">Фамили Имя Отчество:</label>
                        <input type="text" class="form-control" required id="client-name"
                               placeholder="Ваше Фамили Имя Отчество">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <label for="date" class="control-label">Дата:</label>
                                <input type="date" class="form-control" required id="date" placeholder="Дата записи">
                            </div>
                            <div class="col-xs-4">
                                <label for="time" class="control-label">Время:</label>
                                <input type="time" class="form-control" required id="time" placeholder="Время">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">Ваш номер телефона:</label>
                        <input type="phone" class="form-control" required id="phone" placeholder="+7(495)1231212">
                    </div>
                    <div class="form-group">
                        <label for="comment" class="control-label">Комментарий:</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отмена</button>
                <button type="button" disabled id="submit-form" class="btn btn-primary btn-sm" type="submit">
                    Записаться
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="JS/moment.min.js"></script>
<script src="JS/underscore-min.js"></script>
<script src="JS/clndr.min.js"></script>
<script src="lightslider.js"></script>

<script src="JS/iscroll.js"></script>
<script src="JS/share.js"></script>
<script src="JS/tether.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="JS/index.js"></script>
</body>
</html>
