.calendar__body {
    width: 100%;
    & .clndr .clndr-controls {
        //display: block;
        background-color: #00e9cf;
        text-align: center;
        display: inline-block;
        width: 100%;
        line-height: 35px;
        margin-bottom: 3px;
        color: #fff;
    }
    & .clndr .clndr-controls .clndr-button {
        top: 6px;
        position: relative;
        background: url('../image/icons.svg');
        width: 23px;
        height: 23px;
        opacity: 1;
        transition: opacity .3s ease;
    }

    & .clndr .clndr-controls .clndr-previous-button {
        background-position: -168px -252px;
        display: inline-block;
        text-align: left;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */

        -moz-user-select: none;
        /* Firefox */

        -ms-user-select: none;
        /* IE10+ */

    }
    & .clndr .clndr-controls .clndr-button:hover {
        opacity: .6;
    }
    & .clndr .clndr-controls .month {
        display: inline-block;
        width: 180px;
    }
    & .clndr .clndr-controls .clndr-next-button {
        background-position: -215px -252px;
        display: inline-block;
        text-align: right;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */

        -moz-user-select: none;
        /* Firefox */

        -ms-user-select: none;
        /* IE10+ */

    }
    & .clndr .clndr-grid {
        margin: 0 auto;
        width: 373px;
        text-align: center;
        overflow: hidden;
    }
    & .clndr .clndr-grid .header-day {
        float: left;
        width: 27px;
        height: 27px;
        margin: 0 13px 19px;
        color: #9F9F9F;
    }
    & .clndr .clndr-grid .day {
        float: left;
        width: 27px;
        color: #9F9F9F;
        height: 27px;
        margin: 5px 13px;
        font-weight: 300;
        border-radius: 5px;
    }
    & .clndr .clndr-grid .day.next-month,
    & .clndr .clndr-grid .day.last-month {
        visibility: hidden;
    }
    & .clndr .clndr-grid .day.event {
        color: #fff;
        background-color: #00D4BD;
    }
    & .clndr .clndr-grid .day.today {
        //background-color: #e3c57f;
    }
    & .clndr .clndr-grid .empty {
        float: left;
        width: 25px;
        height: 25px;
        background: #ddd;
    }
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ background-color: red; }

._mCS_2 .mCSB_dragger .mCSB_dragger_bar{ background-color: green; }

#mCSB_1_scrollbar_vertical {
    background: #ededed;
}

#mCSB_3_dragger_vertical .mCSB_dragger_bar{ background-color: blue; }

#mCSB_1_scrollbar_vertical .mCSB_dragger{ height: 100px; }

#mCSB_1_scrollbar_horizontal .mCSB_dragger{ width: 100px; }

.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail{ width: 4px; }

