body {
    color: #535353;
}

.body {
    &__maps {
        padding: 0 1.7375rem 50px;
    }

    &__gallery {
        padding: 30px 1.7375rem 40px;

    }

    &__carousel {
        position: relative;
        padding: 14px 1.7375rem 0;
    }

    &__breadcrumb {
        margin: 19px 0 14px;
        padding: 0 1.7375rem;
    }

    &__creators {
        padding-bottom: 60px;

    }

}

.breadcrumb {
    & > li + li:before {
        content: ' >';
        color: #b2b2b2;
    }

    &__link {
        color: rgba(0, 184, 152, 1);
        text-decoration: underline;
        transition: color .2s ease;
        font-weight: 700;
        &:hover {
            color: rgba(0, 184, 152, 0.6);
        }
    }

    & > .active {
        color: #b2b2b2;
    }

    margin-bottom: 0;
    background: none;
    padding: 0;
    font-size: 12px;
}

.creators {
    margin-top: 22px;

    &__item {
        margin-top: 30px;
        text-align: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 52px;
    }

    &__text {
        font-size: 13px;
    }

    &__post {
        font-size: 15px;
        font-style: italic;
        margin-top: 10px;
        color: #9d9d9d;
    }

    &__name {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    &__img {
        height: 226px;
    }
}

.gmaps {
    margin: 0;
    &__map {
        height: 480px;
        width: 100%;
        margin: 0 auto;
    }

    &__card {
        position: absolute;
        top: 60px;
        left: 80px;
        background: #fff;
        border-radius: 5px;
        padding: 12px 41px;
        border: 1px solid #e5e5e5;
    }
    &__contacts._hidden {
        display: none;
    }
    &__address {
        padding: 14px 0;
        &._lines {
            border-width: 1px 0;
            border-style: dotted;
            border-color: #e5e5e5;
        }
    }
    &__table td:first-child {
        padding-right: 12px;
    }
    &__header {
        font-weight: 700;
        margin-bottom: 7px;
        font-size: 18px;
    }
    &__text {
        line-height: 20px;
    }
    &__select {
        margin-top: 10px;
    }
}

.select-map {
    position: relative;
    display: inline-block;
    &__button {
        background: #fff;
        color: #37b39c;
        border: 2px solid #37b39c;
        border-width: 0 0 2px 0;
        outline: none;
        padding: 0 13px 0 0;
        position: relative;
        user-select: none;
        line-height: 24px;
        font-size: 20px;
        font-weight: 400;
    }
    &__arrow {
        position: absolute;
        font-size: 30px;
        font-weight: 400;
        width: 7px;
        height: 13px;
        display: inline-block;
        transform: rotate(90deg);
        top: 6px;
        right: 0;
        line-height: 7px;
        transition: transform .2s ease;
    }
    &__dropdown {
        position: absolute;
        right: 0;
        top: 26px;
        left: 0;
        padding: 10px 0;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-top: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition-property: opacity, transform, visibility;
        transition-duration: .2s, .2s, 0s;
        transition-delay: 0s, 0s, .2s;
        transition-timing-function: ease;
    }
    &__item {
        line-height: 32px;
        padding: 0 15px;
        cursor: pointer;
        background: #fff;
        transition: background-color .15s ease-out;
        &:hover {
            background: #e5e5e5;
        }
    }
    &._opened &__arrow {
        transform: rotate(-90deg);
    }
    &._opened &__dropdown {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition-property: opacity, transform, visibility;
        transition-duration: .2s, .2s, 0s;
        transition-delay: 0s;
        transition-timing-function: ease;
    }
}

.sub-header {
    color: #37b39c;
    font-weight: 400;
}

.carousel {
    &-item {
        position: relative;
    }
    & .control {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        &.left,
        &.right {
            line-height: 0;
            border-radius: 50%;
            background: #fff;
        }
        &.left {
            left: -19px;
        }
        &.right {
            right: -19px;
        }
    }
    & .arrow-left,
    & .arrow-right {
        width: 44px;
        height: 44px;
        display: inline-block;
        opacity: 1;
        transition: opacity .2s ease;
        &:hover {
            opacity: .6;
        }
    }

    & .arrow-left {
        background: url("../image/icons.svg") 249px 617px;
    }
    & .arrow-right {
        background: url("../image/icons.svg") 193px 617px;
    }
}

.info-card {
    background: #fff;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 488px;
    padding: 3px 26px 26px;
    font-size: 14px;
    &__text {
        max-height: 237px;
        overflow: hidden;
        font-size: 1em;
        line-height: 1.6em;
    }
    &__header {
        font-size: 3em;
        color: #37b39c;
        &:after {
            content: '';
            margin-bottom: 20px;
            display: block;
            width: 100%;
            border: 1px dashed #d5d5d5;
        }
    }

}

.info-card_small {
    background: #fff;
    position: absolute;
    left: 40px;
    bottom: 33px;
    width: 406px;
    padding: 12px 15px 10px;
    font-size: 14px;
    border-radius: 5px;
    &__text {
        max-height: 237px;
        overflow: hidden;
        font-size: 1em;
        line-height: 1.6em;
    }
    &__header {
        font-size: 1.8em;
        line-height: .8em;
        color: #37b39c;
        &-text {
            line-height: 24px;
        }
        &:after {
            content: '';
            margin-bottom: 9px;
            margin-top: 12px;
            display: block;
            width: 100%;
            border: 1px dashed #d5d5d5;
        }
    }
    & .button_size_m {
        float: right;
    }

}


.button_size_m {
    border: 1px solid;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 16px;
    vertical-align: middle;
    font-style: italic;
    opacity: 1;
    outline: none;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: .6;
    }
}

.gallery {
    position: relative;
    overflow: hidden;
    height: 168px;
    &__wrap {
        position: absolute;
        z-index: 1;
        padding: 0;
        white-space: nowrap;
    }
    &__item {
        height: 140px;
        background: #ccc;
        display: inline-block;
        transition: opacity .2s ease-out;
        opacity: 1;
        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
}

.iScrollHorizontalScrollbar {
    height: 12px !important;
    z-index: 0 !important;
    background: #ededed;
    &:after,
    &:before {
        content: '';
    }
}

.iScrollIndicator {
    top: 2px;
    height: 8px !important;
    background: #9d9d9c !important;
    border-radius: 0 !important;

}

.b-container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 .9375rem;
}


