.footer {
  background: url("../image/footer-bg.jpg") 43% 100% no-repeat;
  height: 277px;
  padding-top: 36px;
}
.footer__logo {
  margin: 25px 0 0 28px;
}
.footer__copyright {
  white-space: nowrap;
  font-size: 11px;
  color: #595959;
  margin: 26px 0 0 38px;
}
.footer__right {
  margin-top: 46px;
}
.footer__social {
  text-align: right;
}
@media (max-width: 1024px) {
  .footer {
    background: none;
  }
}
.map__r1,
.map__r2 {
  font-size: 13px;
  color: #717171;
  display: block;
}
.map__r1:hover,
.map__r2:hover {
  color: #a1a1a1;
  text-decoration: none;
}
.map__r1 {
  font-weight: 700;
}
.map__group {
  line-height: 1rem;
  margin-top: 3px;
}
.map__group.link {
  display: block;
}
.social__text {
  font-size: 14px;
  color: #717171;
  font-weight: 700;
}
.social__item {
  background-image: url("../image/icons.svg");
  display: inline-block;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
  cursor: pointer;
}
.social__item:hover {
  opacity: 0.6;
}
.social__facebook {
  margin-left: 19px;
  width: 8px;
  height: 15px;
  background-position: -150px -293px;
}
.social__twitter {
  margin-left: 19px;
  width: 15px;
  height: 15px;
  background-position: -177px -293px;
}
.social__youtube {
  margin-left: 12px;
  width: 17px;
  height: 18px;
  position: relative;
  top: 2px;
  background-position: -204px -293px;
}
.social__rss {
  margin-left: 14px;
  width: 15px;
  height: 14px;
  background-position: -236px -294px;
}
