.link {
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}
.link._cabinet {
  color: #bcbcbc;
  font-size: 12px;
  text-decoration: underline;
}
.link._cabinet:hover {
  color: #37b39c;
}
.header__search {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 37px 0 32px;
}
.header__right {
  text-align: right;
  padding-right: 31px;
}
.header__contacts {
  color: #b1b1b1;
  margin-top: 48px;
  padding-right: 17px;
}
.header__menu {
  margin-top: 10px;
}
.header__phone {
  font-size: 12px;
}
.logo {
  margin: 16px 0 15px 22px;
}
.line {
  border-top: 1px solid #d5d5d5;
}
.menu__link {
  padding: 0.49em 0.8rem;
  border: 1px solid transparent;
  border-radius: 7px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s;
          transition: color 0.15s;
  color: rgba(55,179,156,0.9);
}
.menu__link:hover {
  text-decoration: none;
  color: rgba(55,179,156,0.6);
}
.menu__link._active {
  border-color: #31ccb7;
  color: rgba(143,143,143,0.9);
}
.menu__link:focus {
  text-decoration: none;
  color: rgba(55,179,156,0.9);
  outline: none;
}
.menu__item {
  line-height: 2.7rem;
  display: inline-block;
}
@media (max-width: 480px) {
  .logo {
    text-align: left;
  }
  .logo img {
    width: auto;
  }
  .menu__item {
    line-height: 2.7rem;
    display: block;
  }
  .header__right {
    text-align: left;
  }
  .header__contacts {
    margin-top: 18px;
    padding-left: 47px;
  }
  .header__phone {
    display: block;
  }
}
@media (max-width: 1024px) and (min-width: 480px) {
  .header__contacts {
    margin-top: 18px;
  }
  .header__menu {
    margin-top: 7px;
  }
  .logo img {
    width: 180px;
  }
}
@media (min-width: 800px) {
  .logo img {
    width: auto;
  }
}
body {
  font-weight: 300;
}
