.link {
    transition: color .2s ease;

    &._cabinet {
        color: #bcbcbc;
        font-size: 12px;
        text-decoration: underline;

        &:hover {
            color: #37b39c;
        }
    }
}
