.link {
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}
.link._cabinet {
  color: #bcbcbc;
  font-size: 12px;
  text-decoration: underline;
}
.link._cabinet:hover {
  color: #d4d4d4;
}
.header__search {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 34px 0 26px;
  background: url("../image/icons.svg") -193px -363px;
  cursor: pointer;
}
.header__search:hover {
  opacity: 0.6;
}
.header__right {
  text-align: right;
  padding-right: 31px;
}
.header__contacts {
  color: #b1b1b1;
  margin-top: 48px;
  padding-right: 17px;
}
.header__menu {
  margin-top: 10px;
}
.header__phone {
  font-size: 12px;
}
.header__logo {
  margin: 16px 0 15px 22px;
}
.logo {
  background: url("../image/icons.svg") -89px -60px;
  width: 220px;
  height: 110px;
  display: inline-block;
}
.line {
  border-top: 1px solid #d5d5d5;
  min-width: 1024px;
}
.menu__link {
  padding: 0.49em 0.8rem;
  border: 1px solid transparent;
  border-radius: 7px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s;
          transition: color 0.15s;
  color: rgba(55,179,156,0.9);
}
.menu__link:hover {
  text-decoration: none;
  color: rgba(55,179,156,0.6);
}
.menu__link._active {
  border-color: #31ccb7;
  color: rgba(143,143,143,0.9);
}
.menu__link:focus {
  text-decoration: none;
  color: rgba(55,179,156,0.9);
  outline: none;
}
.menu__item {
  line-height: 2.7rem;
  display: inline-block;
}
body {
  color: #535353;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.body__breadcrumb {
  margin: 19px 0 14px;
  padding: 0 1.7375rem;
}
.body__main {
  padding: 0 1.7375rem;
}
.body__share {
  position: relative;
  margin-bottom: 35px;
}
.media-right {
  padding-left: 36px;
}
.breadcrumb {
  margin-bottom: 0;
  background: none;
  padding: 0;
  font-size: 12px;
}
.breadcrumb > li + li:before {
  content: ' >';
  color: #b2b2b2;
}
.breadcrumb__link {
  color: #00b898;
  text-decoration: underline !important;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
  font-weight: 400;
}
.breadcrumb__link:hover {
  color: rgba(0,184,152,0.6);
}
.breadcrumb > .active {
  color: #b2b2b2;
}
.button_size_m {
  border: 1px solid;
  font-size: 13px;
  vertical-align: middle;
  border-radius: 5px;
  line-height: 16px;
  vertical-align: middle;
  font-style: italic;
  opacity: 1;
  outline: none;
  -webkit-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in;
}
.button_size_m:hover {
  opacity: 0.6;
}
.share__img {
  max-width: 232px;
}
.share__text {
  position: absolute;
  top: 80px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  left: 0;
  right: 0;
  text-align: center;
}
.other-list__header {
  font-size: 22px;
  margin-bottom: 20px;
}
.other-list__item {
  border-top: 1px solid #d5d5d5;
  margin-top: 15px;
}
.other-list__name {
  color: #000;
  margin: 17px 0;
  font-size: 15px;
  font-weight: 700;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.other-list__name:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.6;
}
.other-list__button {
  margin: 0 10px;
}
.icon {
  display: table;
}
.icon__wrap {
  display: table-row;
}
.icon__item {
  display: table-cell;
}
.icon__like,
.icon__messages,
.icon__view,
.icon__share {
  background-image: url("../image/icons.svg");
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  opacity: 1;
}
.icon__like {
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
  cursor: pointer;
  background-position: 279px -417px;
  width: 16px;
}
.icon__like:hover {
  opacity: 0.2;
}
.icon__messages {
  background-position: 230px -417px;
  width: 14px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}
.icon__messages:hover {
  opacity: 0.2;
}
.icon__view {
  background-position: 188px -417px;
  width: 17px;
}
.icon__share {
  background-position: 131px -417px;
  width: 13px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}
.icon__share:hover {
  opacity: 0.2;
}
.icon._white .icon__like,
.icon._white .icon__messages,
.icon._white .icon__view,
.icon._white .icon__share {
  background-position-y: -437px;
}
.icon._white .icon__counter {
  color: #fff;
}
.icon__counter {
  font-size: 12px;
  color: #c6c6c6;
  display: inline-block;
  min-width: 30px;
  padding-right: 10px;
}
.article__title-image {
  position: relative;
  margin-bottom: 40px;
}
.article__title-image img {
  width: 100%;
}
.article__link {
  font-style: italic;
  color: #40ccb1;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
  opacity: 1;
}
.article__link:hover {
  color: #40ccb1;
  opacity: 0.6;
  text-decoration: none;
}
.article__header {
  text-align: center;
  color: #37b39c;
  font-weight: 400;
  margin: 80px 0 17px;
  font-size: 36px;
}
.article__note {
  color: #9d9d9c;
  line-height: 29px;
  max-width: 500px;
  font-size: 20px;
  display: block;
  margin: 70px auto 48px;
}
.article__note:before {
  display: block;
  width: 150px;
  border-top: 2px solid;
  content: '';
  margin: 0 auto 27px;
}
.article__note:after {
  display: block;
  width: 150px;
  border-top: 2px solid;
  content: '';
  margin: 25px auto 0;
}
.article__text {
  color: #949393;
  line-height: 26px;
}
.article__title {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
.article__title-other {
  margin-top: 48px;
  font-size: 12px;
}
.article__title-text {
  margin: 12px 0 36px;
  font-size: 2.62em;
  font-weight: bold;
}
.article__title-link {
  display: inline-block;
  margin-right: 48px;
  color: #fff;
  text-decoration: underline;
}
.article__title-link:hover {
  color: #fff;
}
.article__author {
  margin-bottom: 30px;
}
.article__author::before {
  content: '';
  display: block;
  border-top: 1px solid #fff;
  width: 95px;
  margin: 0 auto 16px;
}
.article__buttons .icon {
  margin: 0 auto;
}
.b-container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.comments {
  border: 1px solid #ececec;
  border-radius: 3px;
  margin-bottom: 40px;
}
.comments__head {
  padding: 7px 19px 5px;
  border-bottom: 1px solid #ececec;
  font-size: 17px;
}
.comments__header {
  color: #00b59e;
  font-size: 17px;
}
.comments__button {
  float: right;
  color: #8e8e8e;
  font-style: italic;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
  white-space: nowrap;
}
.comments__button:hover {
  opacity: 0.6;
  color: #8e8e8e;
}
.comments__list {
  padding: 26px 21px;
}
.comment-form {
  display: none;
  margin-top: 10px;
  border-top: 1px solid #ececec;
  padding-top: 10px;
  position: relative;
}
.comment-form._showed {
  display: block;
}
.comment-form label {
  font-size: 14px;
}
.comment-form__body {
  border: 0;
  padding: 0;
  margin: 0;
}
.comment-form__buttons-group {
  margin-top: 10px;
  text-align: right;
}
.comment-form__name {
  margin-bottom: 10px;
}
.comment-form__select .comment-form__avatars {
  float: none;
  margin-top: 10px;
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
  pointer-events: all;
}
.comment-form__select._opened .comment-form__avatars {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.comment-form__select._opened .comment-form__avatars:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.comment-form__select._opened .comment-form__avatars:first-child {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.comment-form__select._opened .comment-form__avatars:nth-child(2) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
.comment-form__select._opened .comment-form__avatars:last-child {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.comment-form__select._opened {
  opacity: 1;
}
.comment-form__select {
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
  opacity: 0;
  padding-top: 36px;
  top: 10px;
  position: absolute;
  width: 41px;
  border: 1px solid #ececec;
  border-radius: 20px;
}
.comment-form__avatars {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 39px;
  height: 39px;
  cursor: pointer;
  border-radius: 50%;
  float: left;
  border: 1px solid #c6cbca;
  margin-right: 15px;
}
.comment-form__avatars._type-women-2 {
  background: url("../image/avatars/3.jpg");
}
.comment-form__avatars._type-women {
  background: url("../image/avatars/2.jpg");
}
.comment-form__avatars._type-child {
  background: url("../image/avatars/1.jpg");
}
.comment + .comment,
.comment .comment {
  border-top: 1px solid #ececec;
  margin-top: 10px;
  padding-top: 17px;
}
.comment__avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  float: left;
  border: 1px solid #c6cbca;
  margin-right: 15px;
}
.comment__avatar._type-women-2 {
  background: url("../image/avatars/3.jpg");
}
.comment__avatar._type-women {
  background: url("../image/avatars/2.jpg");
}
.comment__avatar._type-child {
  background: url("../image/avatars/1.jpg");
}
.comment__avatar._clear {
  clear: left;
}
.comment__body {
  padding-left: 53px;
}
.comment__header {
  margin-bottom: 3px;
  padding-right: 21px;
  position: relative;
}
.comment__name {
  font-size: 17px;
  max-width: 69%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 17px;
  color: #5b5b5b;
  font-weight: 400;
}
.comment__date {
  float: right;
  font-size: 10px;
  font-style: italic;
  color: #717171;
}
.comment__reply-to {
  position: absolute;
  right: -11px;
  width: 20px;
  height: 17px;
  top: 0;
  background: url("../image/icons.svg") 208px -477px;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.comment__reply-to:hover {
  opacity: 0.6;
  cursor: pointer;
}
.comment__text {
  font-size: 12px;
  line-height: 14px;
  padding-right: 21px;
}
.share-wrapper {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 6px 14px 6px 20px;
  margin: 37px 0;
}
.share-wrapper__header {
  color: #00b59e;
  font-size: 17px;
}
.share-wrapper__container {
  float: right;
}
.share {
  display: inline-block;
}
.share__item .share__link._twi {
  background-position-y: -87px;
}
.share__item .share__link._vk {
  background-position-y: -58px;
}
.share__item .share__link._fb {
  background-position-y: 2px;
}
.share__item .share__link._mail {
  background-position-y: -29px;
}
.share__item .share__link._odkl {
  background-position-y: -116px;
}
.share__item .share__link._gplus {
  background-position-y: -144px;
}
.share__link._more {
  background-image: url("../image/icons.svg");
  background-position: -222px -252px;
  background-size: 268px;
  cursor: pointer;
}
.share__item {
  display: inline-block;
  margin: 0 23px 6px 0;
  height: 25px;
}
.share__item._popup {
  margin: 0;
}
.share__item._popup + .share__item._popup {
  margin-left: 20px;
}
.share__item._column {
  display: block;
  margin: 0 0 10px 0;
}
.share__link {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #37b39c;
  border-radius: 3px;
  background-image: url("../image/b-share_counter_small.png");
  background-repeat: no-repeat;
  opacity: 1;
  background-position-x: 1px;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.share__link:hover {
  opacity: 0.6;
}
.share__counter {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  position: relative;
  background: #fff;
  color: #43b7a2;
}
.share__counter:before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 8px;
  height: 100%;
}
.share__counter {
  height: 24px;
  padding: 0 7px 0 3px;
  font: 12px/25px Arial, sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAYCAYAAAAMAljuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNrs2rENgCAQQNHDyBBWDMFULmFjnMGlYAgKoy01BR5xB6H4P7mE + l7JmRBCFerdrXN673dTNfbRt1KKpJQk57xNrKN/1lpxzrXnCshAKNoCyGABAggBAggBAggBAggBAggBQoAAQoAAQoAAQr/U/tW1B5BBMNqRg3bOMUY20r9LvjOg4xVgABtzIxFP3JZkAAAAAElFTkSuQmCC") 100% 0;
}
.share__counter:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAYCAYAAADH2bwQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlJREFUeNrEks0NwyAMhU0kdmi4MARTZYh0jS4FE3DiAjvA4dVUjZQ/p + qlfZKFrPcJPYMVANorhDDzMXGN1IF1ee/nGCNqrega6KjJWkta61dzBoyLKQEb/Rrg + WGM2RKr + ZFzxl6XJj6Z0kseQiq + gUop8hScXIQG5xx1U4ROvvv7kH8ASmvtEniklGiBlLD29/fa354CDAC6sL9OAqehCgAAAABJRU5ErkJggg==");
}
.popover {
  border: 1px solid #ececec;
}
.media-right.right {
  min-width: 232px;
}
.footer {
  background: url("../image/footer-bg.jpg") 43% 100% no-repeat;
  height: 277px;
  padding-top: 36px;
}
.footer__logo {
  margin: 25px 0 0 28px;
}
.footer__copyright {
  white-space: nowrap;
  font-size: 11px;
  color: #595959;
  margin: 26px 0 0 38px;
}
.footer__right {
  margin-top: 46px;
}
.footer__social {
  text-align: right;
}
.map__r1,
.map__r2 {
  font-size: 13px;
  color: #717171;
  display: block;
}
.map__r1:hover,
.map__r2:hover {
  color: #a1a1a1;
  text-decoration: none;
}
.map__r1 {
  font-weight: 700;
}
.map__group {
  line-height: 1rem;
  margin-top: 3px;
}
.map__group.link {
  display: block;
}
.social__text {
  font-size: 14px;
  color: #717171;
  font-weight: 700;
}
.social__item {
  background-image: url("../image/icons.svg");
  display: inline-block;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
  cursor: pointer;
}
.social__item:hover {
  opacity: 0.6;
}
.social__facebook {
  margin-left: 19px;
  width: 8px;
  height: 15px;
  background-position: -150px -293px;
}
.social__twitter {
  margin-left: 19px;
  width: 15px;
  height: 15px;
  background-position: -177px -293px;
}
.social__youtube {
  margin-left: 12px;
  width: 17px;
  height: 18px;
  position: relative;
  top: 2px;
  background-position: -204px -293px;
}
.social__rss {
  margin-left: 14px;
  width: 15px;
  height: 14px;
  background-position: -236px -294px;
}
body {
  font-weight: 300;
}
