main {
}

body {
    color: #535353;
}

.body {
    &__breadcrumb {
        margin: 19px 0 14px;
        padding: 0 1.7375rem;
    }
    &__main {
        padding: 0 1.7375rem;

    }
    &__share {
        position: relative;
        margin-bottom: 35px;
    }
}

.media-right {
    padding-left: 36px;
}

.breadcrumb {
    & > li + li:before {
        content: ' >';
        color: #b2b2b2;
    }

    &__link {
        color: rgba(0, 184, 152, 1);
        text-decoration: underline !important;
        transition: color .2s ease;
        font-weight: 400;
        &:hover {
            color: rgba(0, 184, 152, 0.6);
        }
    }

    & > .active {
        color: #b2b2b2;
    }

    margin-bottom: 0;
    background: none;
    padding: 0;
    font-size: 12px;
}

.button_size_m {
    border: 1px solid;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 16px;
    vertical-align: middle;
    font-style: italic;
    opacity: 1;
    outline: none;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: .6;
    }
}

.share {
    &__img {
        max-width: 232px;
    }

    &__text {
        position: absolute;
        top: 80px;
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.other-list {
    &__header {
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__item {
        border-top: 1px solid #d5d5d5;
    }
    &__name {
        margin: 17px 0;
        font-size: 15px;
        font-weight: 700;
    }
    &__button {
        margin: 0 10px;
    }
}

.icon {
    display: table;
    &__wrap {
        display: table-row;
    }
    &__item {
        display: table-cell;
    }
    &__like,
    &__messages,
    &__view,
    &__share {
        background-image: url(../image/icons.svg);
        display: inline-block;
        height: 12px;
        vertical-align: middle;
        opacity: 1;
    }
    &__like {
        &:hover {
            opacity: .2;
        }
        transition: opacity .2s ease-out;
        cursor: pointer;
        background-position: 279px -417px;
        width: 16px;
    }
    &__messages {
        background-position: 230px -417px;
        width: 13px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            opacity: .2;
        }
        transition: opacity .2s ease-out;
    }
    &__view {
        background-position: 188px -417px;
        width: 17px;
    }
    &__share {
        background-position: 131px -417px;
        width: 13px;
        cursor: pointer;
        &:hover {
            opacity: .2;
        }
        transition: opacity .2s ease-out;
    }
    &._white &__like,
    &._white &__messages,
    &._white &__view,
    &._white &__share {
        background-position-y: -437px;
    }
    &._white &__counter {
        color: #fff;
    }
    &__counter {
        font-size: 12px;
        color: #c6c6c6;
        display: inline-block;
        min-width: 30px;
        padding-right: 10px;
    }
}

.article {
    &__title-image {
        position: relative;
        margin-bottom: 40px;
        & img {
            width: 100%;
        }
    }
    &__link {
        font-style: italic;
        color: #40ccb1;
        transition: color .2s ease;
        &:hover {
            color: #49ffe3;
            text-decoration: none
        }
    }
    &__header {
        text-align: center;
        color: #37b39c;
        font-weight: 400;
        margin: 80px 0 17px;
        font-size: 36px;
    }
    &__note {
        color: #9d9d9c;
        line-height: 29px;
        max-width: 500px;
        font-size: 20px;
        display: block;
        margin: 70px auto 48px;
        &:before {
            display: block;
            width: 150px;
            border-top: 2px solid;
            content: '';
            margin: 0 auto 27px;
        }
        &:after {
            display: block;
            width: 150px;
            border-top: 2px solid;
            content: '';
            margin: 25px auto 0;
        }
    }
    &__text {
        color: #949393;
        line-height: 26px;
    }
    &__title {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        &-other {
            margin-top: 48px;
            font-size: 12px;
        }
        &-text {
            margin: 12px 0 36px;
            font-size: 42px;
            font-weight: 700;
        }
        &-link {
            display: inline-block;
            margin-right: 48px;
            color: #fff;
            text-decoration: underline;
            &:hover {
                color: #fff;
            }
        }
    }
    &__author {
        margin-bottom: 30px;
        &::before {
            content: '';
            display: block;
            border-top: 1px solid #fff;
            width: 95px;
            margin: 0 auto 16px;
        }
    }
    &__buttons {
        & .icon {
            margin: 0 auto;
        }
    }

}


