.menu__link {
  padding: 0.49em 0.8rem;
  border: 1px solid transparent;
  border-radius: 7px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s;
          transition: color 0.15s;
  color: rgba(55,179,156,0.9);
}
.menu__link:hover {
  text-decoration: none;
  color: rgba(55,179,156,0.6);
}
.menu__link._active {
  border-color: #31ccb7;
  color: rgba(143,143,143,0.9);
}
.menu__link:focus {
  text-decoration: none;
  color: rgba(55,179,156,0.9);
  outline: none;
}
.menu__item {
  line-height: 2.7rem;
  display: inline-block;
}
